$system-bar-height: 24px
$toolbar-height: 56px
$divider-height: 1px
$spot-menu-search-height: 56px
$spot-menu-toolbar-height: 44px
$footer-height: 32px
$button-height: 36px

$spot-detail-title-height: 44px

$wrapper-web: $toolbar-height + $footer-height
$wrapper-desktop: $system-bar-height + $wrapper-web
